:root{
    --moinsen-color: #ffe025;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    
    background-color: rgb(53, 40, 59);
    color: #ffe025;
}

button{
    cursor: pointer;
}

#header{
    display: flex;
    justify-content: center;
    background-color: rgb(11, 5, 24);
    padding: 50px;
    color: var(--moinsen-color);
}

#score {
    font-size: 50px;
    margin: 20px;
}
#choices {
    font-size: 50px;
    margin: 20px;
}


#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    
}

#buttons {
    display: flex;
    align-items: center;    
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    
}

.btn:hover {
    background-color: rgb(51, 45, 50);
}

.btn{
    height: 150px;
    width: 150px;
    background-color: rgb(37, 33, 36);
    border-radius: 10px;
    border: none;
    
}

.rocky{
    font-size: 100px;
    margin-top: 0px;
}
